In [1]:
from bs4 import BeautifulSoup
import urllib.request
import json
import csv
import pandas as pd

In [19]:
gene_list: str = "DNAH3"
tax_id: str = "9606"
access_key: str = "b29ee574e1fbeb14d7ddb7bcef86afc2"
input_file: str = "data/nafe.txt"

gene_list = pd.read_csv(input_file,header = None)[0].tolist()
gene_list = "|".join(gene_list)
    
user_agent = 'Mozilla/5.0 (Windows; U; Windows NT 5.1; en-US; rv:1.9.0.7) Gecko/2009021910 Firefox/3.0.7'
headers={'User-Agent':user_agent,} 

url = (
    f"https://webservice.thebiogrid.org/interactions?"
    f"searchNames=true&"
    f"geneList={gene_list}&"
    f"includeInteractors=true&"
    f"includeInteractorInteractions=false&"
    f"taxId={tax_id}&"
    f"accesskey={access_key}"
    
)

In [3]:
url

'https://webservice.thebiogrid.org/interactions?searchNames=true&geneList=ADAMTSL4|CUBN|DNAH3|FASN|FAT4|HEPHL1|HMCN1|HSPG2|IFT172|LRP5|LYST|MASP1|MROH7-TTC4|MYH4|NAV1|OBSCN|PCK2|PDZD2|PPL|SBF1|TNC&includeInteractors=true&includeInteractorInteractions=false&taxId=9606&accesskey=b29ee574e1fbeb14d7ddb7bcef86afc2'

In [20]:
request = urllib.request.Request(url,None,headers) #The assembled request
response = urllib.request.urlopen(request)
data = response.read()

In [21]:
df = pd.DataFrame([x.split('\t') for x in data.decode().split('\n')]).iloc[:, [7,8]]

In [22]:
df

            7      8
0        FLNA   DRD3
1       NUMA1  EPB41
2        FLNA  ITGB1
3        FGF7  HSPG2
4     EPB41L1  NUMA1
...       ...    ...
7399     ORF6   FLNA
7400     ORF6  FANCI
7401     BRD4  NUMA1
7402    PARK2  AHNAK
7403     None   None

[7404 rows x 2 columns]