In [19]:
from bs4 import BeautifulSoup
import urllib.request
import json
import csv
import pandas as pd

In [42]:
gene_list: str = "DNAH3"
tax_id: str = "9606"
access_key: str = "b29ee574e1fbeb14d7ddb7bcef86afc2"
input_file: str = "dee.txt"

gene_list = pd.read_csv(input_file,header = None)[0].tolist()
gene_list = "|".join(gene_list)
    
user_agent = 'Mozilla/5.0 (Windows; U; Windows NT 5.1; en-US; rv:1.9.0.7) Gecko/2009021910 Firefox/3.0.7'
headers={'User-Agent':user_agent,} 

url = (
    f"https://webservice.thebiogrid.org/interactions?"
    f"searchNames=true&"
    f"geneList={gene_list}&"
    f"includeInteractors=true&"
    f"includeInteractorInteractions=false&"
    f"taxId={tax_id}&"
    f"accesskey={access_key}"
    
)

In [43]:
request = urllib.request.Request(url,None,headers) #The assembled request
response = urllib.request.urlopen(request)
data = response.read()

In [44]:
parsed_result = BeautifulSoup(data, "html.parser")

In [55]:
df = pd.DataFrame([x.split('\t') for x in [x.split('\n') for x in parsed_result][0]]).iloc[:, [7,8]]
df.columns = ['INTERACTOR_A', 'INTERACTOR_B']

           7       8
0       FGF7   HSPG2
1       ANK1   OBSCN
2       FASN    FASN
3        PPL    KAZN
4      PDZD2  CTNND2
...      ...     ...
2755  ATP1A1    FASN
2756   RNF43   OBSCN
2757   RNF43     PPL
2758    ORF6    FASN
2759    None    None

[2760 rows x 2 columns]